/* Set the size of the map container */
#map {
    height: 400px;
    width: 50%;
}

/* Style the button */
#toggle-circle-btn {
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#toggle-circle-btn:hover {
    background-color: #007B9F;
}
